<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<title>Popup</title>
	<link rel="stylesheet" type="text/css" media="screen" href="assets/style.css" />
</head>
<body>
	<div id="vgt_outer_container" page_type="vgt_page" page_type="vgt_page">

		<div class="vgt_pop_header">Do you want a free ebook?</div>
		<div class="vgt_pop_sub_header">20 pages of wine-making secrets, including awesome book cover.</div>
		<div class="vgt_pop_form">
			<input type="button" name="button" class="vgt_yes" value="Yes. I want it" />
			<input type="button" name="button" class="vgt_no" value="No. I'm good" />
		</div>
	

		<div class="vgt_pop_privacy"><img src="assets/imgs/lock.png">Your privacy is SAFE</div>
	</div> <!--  vgt_outer_container  -->

 
</body>
</html>