.bg_blue {
    background: #ABC8F7;
}

.bg_green {
    background: #C2FFC4;
}

.bg_orange {
    background: #FFCB9E;
}

.bg_red {
    background: #FFBABA;
}

.bg_yellow {
    background: #FFFEC4;
}