
/* EDITBOX STYLE */
.mceText[title$="px"] {
	font-size: 1em !important;
}

#wpbody-content {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	
}

#main_container {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
#left_panel {
	position: aboslute;
	width: 18%;
	left: 0;
	top: 10px;

}

#left_panel .widefat, #left_panel label {
	font-size: 13px;
}
#editbox {
	height: 200px;
}

#wp-editbox-wrap {
	position: fixed;
	bottom: 45px;
	width: 17%;
}

#site_area{
	position: absolute;
	left: 20%;
	top: 0;
	right: 0;
	width: 79%;
	float: left;
}

#foot_panel {
	height: 40px;
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #D9F0FF;
	z-index: 100;
}	

#footer {
	border: 0;
	display: none;
}

#wpfooter {
	border: 0;
	display: none;
}


/* BUTTONS */
#foot_panel input[type="button"], #site_area input[type="button"], #gallery_panel input[type="button"], #showb, #editing_panel input[type="button"], #code_panel input[type="button"] {
	cursor: pointer;
	border: medium none;
    font-family: "Segoe UI",Helvetica,Arial,sans-serif;
	font-size: 13px;
	font-weight: normal;
    margin: 5px 0 0;
    outline: medium none;
    padding: 5px 7px;
    text-align: center;
    color: white;
	width: 6em;
	height: 30px;
	line-heigth: 30px;
}

#showb {
	display: none;
	position: fixed;
	right: 5px;
	bottom: 3px;
}

#buttons_right {
	position: fixed;
	right: 5px;
	bottom: 3px;
	text-align: center;
}

#buttons_right input[type="button"] {
	display: inline;
}


.blueb{
	background-color: #4D90FE !important;
}


.redb{
	background-color: #D84A38 !important;
}

.greenb{
	background-color: #35AA47 !important;
}

.brownb{
	background-color: #A3687F !important;
}

.navyb{
	background-color: #1B89D1 !important;
}

.orangeb{
	background-color: #EBA23B !important;
}

.violetb{
	background-color: #6D1B81 !important;
}

.darkblueb{
	background-color: #094ab2 !important;
}

.greyb{
	background-color: #464646 !important;
}

.blackb{
	background-color: #010101 !important;
}

.lightorangeb{
	background-color: #ff5d0a !important;
}

.whiteb{
	background-color: #cecece !important;
	color: #000 !important;
}

.purpleb{
	background-color: #91369f !important;
}

/* END BUTTONS */


/* THEME GALLERY */
#gallery {
	position: absolute;
	width: 80%;
	bottom: 0;
	right: 0;
	top: 20px;
	background-color: white;
	display: none;
}

#video_themes {
	display: none;
}

#nonvid_themes {
	display: none;
}

.thumb {
	width: 149px;
	padding: 5px;
	float: right;
	text-align: center;
}

.thumb img {
	width: 140px;
	height: 86px;
	margin: auto;
	
}

/* END THEME GALLERY */

/* THEME GALLERY PANEL */
#gallery_panel {
	position: fixed;
	right: 5px;
	bottom: 45px;
	display: none;
	z-index: 100;
}
	
/* END THEME GALLERY PANEL */

/*	THE EDITOR */
.editable:hover {
	background-color: #dbdbdb !important;
}

#linkurl {
	position: absolute !important;
	left: 5px !important;
	bottom: 3px !important;
	text-align: center !important;
    padding: 5px 7px !important;
	display: none;
	background: white;
	height: 28px;
	width: 10em;
	font-size: 1em;
}

/* END THE EDITOR */

/* EDITING PANEL */
#editing_panel {
	position: fixed;
	right: 5px;
	text-align: right;
	bottom: 47px;
	display: none;
	z-index: 100;
}

#editing_panel input[type="button"]{
	display: block;
}

/* END EDITING PANEL */

/* CODING PANEL */

#code_panel {
	position: fixed;
	right: 5px;
	text-align: right;
	bottom: 47px;
	display: none;
	z-index: 100;
}

#code_panel input[type="button"]{
	display: block;
}

/* CODING PANEL */

/* BUTTONS PANEL */
#buttons_panel {
	position: absolute;
	top: 0;
	left: 20%;
	right: 0;
	bottom: 0;
	width: 79%;
	background: white;
	display: none;
}
.cta_button{
	width: 150px;
	height: 80px;
	float: left;
	padding: 5px 10px 0;
	text-align: center;
}

.cta_button img{
	width: 150px;
}


/* END BUTTONS PANEL */

/* BACKGROUNDS PANEL */
#bgs_panel {
	position: absolute;
	top: 0;
	left: 20%;
	right: 0;
	bottom: 0;
	width: 79%;
	background: white;
	display: none;
}
.site_bg{
	width: 150px;
	height: 120px;
	float: left;
	padding: 5px 10px 0;
	text-align: center;
}

.site_bg img{
	width: 120px;
}


/* END BACKGROUNDS PANEL */

/* CODE BOXES */
 #code_boxes {
	position: fixed;
	width: 17%;
	bottom: 45px;
}

#code_boxes textarea{
	display: none;
	width: 100%;
	height: 200px;
	font-size: 14px;
}

#code_boxes textarea#tracking_code {
	background-color: #97FF91;
}

#code_boxes textarea#video_code {
	background-color: #FFA04D;
}

#code_boxes textarea#email_code {
	background-color: #5EC7FF;
}

#code_boxes textarea#face_code {
	background-color: #86D986;
}

/* END CODE BOXES */

/* POST PANEL */
#posts_panel {
	position: absolute;
	top: 0;
	left: 20%;
	right: 0;
	bottom: 0;
	width: 80%;
	background: white;
	display: none;
	overflow: scroll;
}

#posts_panel .created_page {
	padding: 5px;
	font-size: 1.1em;
	font-weight: bold;
	
}

#posts_panel .created_page a {
	padding-left: 5px;
	
}
/* END POST PANEL */

/* SITE INFO, THE TOP LEFT BOXES */
#site_info {
	font-size: 14px;
}

/* END SITE INFO, THE TOP LEFT BOXES */
