<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<title>Popup</title>
	<link rel="stylesheet" type="text/css" media="screen" href="assets/style.css" />
</head>
<body>
	<div id="vgt_outer_container" page_type="vgt_page">
		<h4 class="vgt_big_head">Love our posts so far?</h4>
		<form>
			<input type="text" placeholder="enter your email" />
			<input type="submit" value="Subscribe" />
		</form>

		<div class="vgt_secure">No spam! No nonsense emails!</div>
		<div class="vgt_clear"></div>
	</div> <!--  vgt_outer_container  -->

 
</body>
</html>