<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<title>Popup</title>
	<link rel="stylesheet" type="text/css" media="screen" href="assets/style.css" />
</head>
<body>
	<div id="vgt_outer_container" page_type="vgt_page">
		<div id="vgt_banner">
			<div id="vgt_logo">
				<img src="assets/imgs/logo.png" />
			</div>

		</div> <!-- vgt_banner -->

		<div id="vgt_body">
			<div id="vgt_body_left">
				<div class="vgt_body_left_head">
					<h1>10 high converting landing page templates available for you</h1>
				</div>

				<div id="vgt_body_left_content">

					<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
					<ul id="vgt_feature_list">
						<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
						<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
						<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
						<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
						<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>


					</ul>

				</div>

			</div> <!-- vgt_body_left -->

			<div id="vgt_body_right">
				<div class="vgt_body_right_head">
					<div id="media_box">
						<iframe src="http://www.youtube.com/embed/2zNSgSzhBfM?wmode=opaque&showinfo=0&autoplay=0&controls=0&modestbranding=0&rel=0" frameborder="0" allowfullscreen></iframe>
					</div>
					<img src="assets/imgs/arrow_down.png" />
				</div>

				<form>
					<input type="text" name="email" value="your best email" />
					<input type="submit" name="Submit" value="Send me the templates" />

				</form>



			</div>
			<div style="clear: both;"></div>

		</div>

		<div id="vgt_footer">
			<hr />

			<div id="vgt_footer_left">
				Copyright &copy 2015 The Paw .Inc. All rights reserved.
			</div>

			<div id="vgt_footer_right">
				<ul>
					<li><a href="">Home</a></li>
					<li><a href="">About</a></li>
					<li><a href="">Contact</a></li>
					<li><a href="">Terms</a></li>

				</ul>
				<div style="clear: both;"></div>
			</div>
			<div style="clear: both;"></div>
		</div>

	</div> <!--  vgt_outer_container  -->
 
</body>
</html>